<div id="bo-sidenav-container">
  <ul>
    <app-bo-menu-item *ngFor="let item of boMenuItems"
      [boMenuItem]="item"
      mode="side-menu">
    </app-bo-menu-item>

    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
    <li>tutu</li>
  </ul>
</div>
